# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore virtual environment files
venv/
__pycache__/
*.pyc
*.pyo

# Ignore logs and temporary files
logs/
*.logs